html {
    font-family: sans-serif;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 4px;
}

nav a {
    display: inline-block;
    padding: 4px;
    border: 1px solid blue;
    transition: background-color 1s;
}

nav a:hover {
    background-color: lightblue;
}

.content-float-left {
    float: left;
    width: 20%;
}

.content-float-right {
    float: right;
    width: 80%;
}

.image-size {
    width: 300px;
    height: auto;
}

#main-page-section {
    overflow: hidden;
}

.city-page-section {
    position: relative;
    height: 50px;

    img {
        position: absolute;
        top: 0;
        right: 0;
    }
}

form {
    margin-top: 100px;

    div {
        margin-bottom: 10px;
    }
}